.search_box{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 2rem;
}
h3{
    margin-right: 100px;
}
.search_box{
    width:400px;
    background-color:  rgb(6, 48, 90);
    height: 35px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;  /* Round the corners */
    border: 2px solid rgb(0, 15, 80);  /* Optional: Add a border */
    outline: none;  /* Optional: Remove default outline on focus */
    transition: all 0.3s ease; 
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}
.search_box input::placeholder {
    color: white;  
    font-style: italic;  
}


