.orders {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .restaurant-name{
    text-align: center;
    font-style: italic;
    color: rgb(108, 58, 8);
    text-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  }
  .rest-order-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(181, 181, 181);
  }
  
  .order-info,
  .customer-info {
    flex: 1;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .done-btn {
    background-color: rgb(22, 178, 22);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 200px;
  }
  
  .cancel-btn {
    background-color: rgb(213, 56, 56);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 200px;
  }

  .cancel-btn:hover{
    scale: 104%;
    background-color: red;
  }

  .done-btn:hover{
    scale: 104%;
    background-color: green;
  }
  
  .time-remaining {
    color: red;
    font-weight: bold;
  }
  
 