.c_confirmOrder{
    height: 45px;
    width: 13%;
    background-color: #0d5210;
    color: #D9D9D9;
    font-size: 17px;
    font-weight: bold;
    border-radius: 30px;
    display: flex
;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -62px;
    left: 52%;
    transition: all 0.2s ease-in-out;
}

.c_confirmOrder:hover{
    scale: 1.05;
    font-size: 108%;
    cursor: pointer;
    background-color: green;
}