.card-home {
    background-color: rgb(6,48,90); /* Light grey */
    display: inline-block;
    border-radius: 30px; 
    margin: 50px 40px 0px 40px;
    transform: scale(1); /* Default scale */
    border-width: 2px;
    box-shadow: 0 4px 8px black;
    transition: transform 0.3s ease;
    width: 18%; /* Fixed width for all cards */
    height: auto; /* Reduced height for compactness */
    text-align: center; /* Center-align content */
    
}

.card-home img {
    width: 100%; /* Image fills the card's width */
    height: 180px; /* Reduced fixed height for images */
    object-fit:fill; /* Ensure images are cropped to fit proportionally */
    border-top-left-radius: 30px; /* Optional: rounded corners for images */
    border-top-right-radius: 30px;
    margin-bottom: 5px; /* Reduced spacing below the image */
}

.card-home:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}
.card-home h3{
    color:white;
    margin-top:20px;
}
