/* Styles for the navigation bar */
.navigation-bar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display:relative;
    bottom:250px;
  }
  
  .nav-header {
    display: flex;
    align-items: center;
    background-color: #ffc107; 
  }
  
  .nav-logo {
    height: 70px; /* Adjust as needed */
    width: auto;
    margin-right: 10px;
  }
  
  .nav-title {
    font-family: 'Arial', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #000; /* Black for text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Subtle shadow */
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-around;
    background-color: #22476D;
    position: static;
  }
  
  .nav-button {
    
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    padding: 7px 13px;
    text-decoration: none;
    transition: background-color .3s ease, color .3s ease;
 }
  
  .nav-button:hover {
    /* background-color: #000; */
    color: #ffc107;
  }
  