/* Wrapper for the entire voucher generator */
.voucher-generator-wrapper {
  display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Header styling */
.voucher-generator-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  margin-top: 10%;
}

/* Form container styling */
.voucher-generator-form {
  width: 50%;
  background-color: #4ca9a9;
  padding: 39px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form group styling */
.voucher-form-group {
  margin-bottom: 15px;
}

.voucher-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

.voucher-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

/* Button styling */
.voucher-generate-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(6, 48, 90);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.voucher-generate-button:hover {
  background-color: rgb(5, 33, 61);
  scale: 104%;
}
