.c_popitems{
    position: relative;
    top: 150px;
    width: 85%;
}

.c_popheading{
    position: relative;
    left: 5%;
    font-size: 40px;

}

.c_menuheading{
    position:relative;
    left:5%;
    font-size: 40px;
}