.body1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
}

.body_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.c_searchbox {
    width: 50vw;
    max-width: 500px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5vw;
    margin: 30px auto;
    display: block;
    box-sizing: border-box;
    margin-top: 10%;
}
