.body1{
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    background-color: grey;
    flex-wrap: wrap;
}

.body_container{
    width:100vw;
    display:flex;
    position:relative;
    top:250px;
    left:0px;
    justify-content: center;
}