.c_card{
    height:300px;
    width:300px;
    background-color: black;
    margin-top:50px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.c_image{
    height:170px;
    width:300px;
    background-color: red;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.c_name{
    color:white;
    position:relative;
    bottom:30px;
    right:70px;
}

.c_cuisine{
    color:white;
    position:relative;
    top:20px;
    right:20px;
}