.c_status{
    position:relative;
    top:280px;
    left:500px;
    width:60px;
    height:400px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}


.c_circle2{
    background-color: #D9D9D9;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    display:inline-flex;
    height:50px;
    width:50px;
    font-size: 30px;
    color:#22476D;

}

.c_bar2{
    width:30px;
    height:100px;
    background-color: #D9D9D9;
    display:inline-block;
    border-radius: 25px;
    position: relative;
    left:10px;
}

.c_statustext2_1{
    color:#D9D9D9;
    font-size: 50px;
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    bottom:95px;
    left:570px;
}

.c_statustext2_2{
    color:#D9D9D9;
    font-size: 50px;
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top:55px;
    right:70px;
}

.c_statustext2_3{
    color:#D9D9D9;
    font-size: 50px;
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top:135px;
    left:570px;
}