.Navbar1{
    height:148px;
    width:100vw;
    background-color:#FFB703;
    position:fixed;
    top:0px;
    left:0px;
    align-items: center;
    display:flex;
    z-index: 5;
}

.logo{
    height:125px;
    width:170px;
    background-image: url("./HH_logo.png");
    background-size: cover;
    margin-left:20px;
    display:inline-flex;
}

@font-face {
    font-family: 'CustomFont'; /* The name you'll use in CSS */
    src: url('./CarterOne-Regular.ttf') format('truetype'); /* Path to the font file */
}

.title{
    display:inline-flex;
    font-size: 45px;
    font-family:'CustomFont', sans-serif;
    color:#926902;
    margin-left:25px;
}

.profile{
    display:inline-flex;
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: white;
    margin-left:950px;
    background-image: url("./profile.png");
    background-size: cover;
}