.home .header{
    margin-top: 40px;
    margin-bottom: -20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.home .header img{
    margin-left: 20px;
    margin-bottom: 10px;
    max-width: 90px;
    max-height: 75px;
}
.home .cards{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.home .cards h3{
    font-family: 'Carter One', cursive;
}
.home .header h2{
    color:black;
}