@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.backgrounda{
    text-align: center;
}
.backgrounda h2 {
    font-family: 'Carter One', cursive;
    color:black;
}

.upper{
    width : auto;
    height : 148;
    background-color:rgba(255, 183,3);
    display: flex;
    align-items: center;
}
.upper img{
    margin-right: 20px;
    margin-left: 10px;
    width: 100px;
    height: 65px;
}
.upper .sign_out{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.upper .sign_out img{
    padding-top: 12px;
    padding-bottom: 12px;
    height: 70px;
}
.upper .sign_out a{
    color:black;
    padding-right: 10px;
    
}
.lower {
    height: 60px ;
    background-color: rgb(6, 48, 90);
    display:flex;
    align-items: center;
    text-align: center;
    text-indent: 80px;
}
.lower h3{
    color:white;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.lower h3:hover{
    text-decoration: underline;
    color: white;
}
body{
    background-color: rgb(229,229,229);
}